<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @rooms.each do |room| %>
    <div class="content_post" style="background-image: url(<%= room.image %>);">
      <p><%= room.text %></p>
    </div>
  <% end %>
</div>